body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../image/bg.webp);
  }



  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    display: none;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

*{
  font: 400 normal 14px / 18px system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

}

#submit
{
  background-color:  rgb(3 56 66) ;
}

.eyeContainer
{
  width: 40px;
}

.btnCustom:hover,.btnNext:hover
{
   background-color: white !important;
   color: rgb(3 56 66) !important;
   outline: 2px solid rgb(3,56,66) !important;
}



.greyBorder
{
  border: 3px solid rgba(17,17,17,0.1); 
  border-radius: 10px;
}
.steps
{
  color:rgb(125 120 120);
}

.progress
{
  height: .4rem;
}

 #registration,#addressInfo
{
  display: none;
}  
  
.degreeDataInfo > td
{
  font-weight: 600;
  padding-top: 1rem;
  font-size: 20px;
  color:rgb(182 36 77);


}

.disableButton
{ 
  cursor: not-allowed !important;
}

.borderRed
{
  border: 3px solid red !important;

}

.red-star
{
  font-size: 18px;
}


.errorBox
{
  height: 15px;
  margin-bottom: 10px;
}
p
{
  margin: 0 !important;
}

#passwordBox
{
  position: relative;
}

.eyeContainer
{
  position: absolute;
  right: 0;
}

.fa-edit:hover,.fa-solid:hover
{
   color: red !important;
}
 